In [1]:
import tweepy
import pandas as pd
import nltk
import string
import os
import re
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import udf
from pyspark.ml.feature import CountVectorizer
consumer_key = "Ax79DI6gXdMjOCQyQ61v2Khbj"
consumer_secret = "DBSmfUL50FlhpVnePa373lOpBFffJjrGInXbSGG4T7Ze2RRQTl"
access_token = "1418173405988376579-9g3SF5klnWOgd62nUfTfaqrQdzkJRA"
access_token_secret = "q3jO28xbGDlvE6djCNeoSMQbtkosZYT7mBTv0O6wznMpw"
# Creating the authentication object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# Setting your access token and secret
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [2]:
spark = SparkSession.builder.master('local').appName('classifier').getOrCreate()
df = spark.read.csv("trainingandtestdata/training.1600000.processed.noemoticon.csv")
df=df.toDF('polarity','tweet_id','tweet_date','query_string','tweet_screen_name','Tweet')
df2=spark.read.csv("trainingandtestdata/testdata.manual.2009.06.14.csv")
df2=df2.toDF('polarity','tweet_id','tweet_date','query_string','tweet_screen_name','Tweet')
df.show(5)
df2.show(5)

+--------+----------+--------------------+------------+-----------------+--------------------+
|polarity|  tweet_id|          tweet_date|query_string|tweet_screen_name|               Tweet|
+--------+----------+--------------------+------------+-----------------+--------------------+
|       0|1467810369|Mon Apr 06 22:19:...|    NO_QUERY|  _TheSpecialOne_|@switchfoot http:...|
|       0|1467810672|Mon Apr 06 22:19:...|    NO_QUERY|    scotthamilton|is upset that he ...|
|       0|1467810917|Mon Apr 06 22:19:...|    NO_QUERY|         mattycus|@Kenichan I dived...|
|       0|1467811184|Mon Apr 06 22:19:...|    NO_QUERY|          ElleCTF|my whole body fee...|
|       0|1467811193|Mon Apr 06 22:19:...|    NO_QUERY|           Karoli|@nationwideclass ...|
+--------+----------+--------------------+------------+-----------------+--------------------+
only showing top 5 rows

+--------+--------+--------------------+------------+-----------------+--------------------+
|polarity|tweet_id|          tweet_date|query_string|tweet_screen_name|               Tweet|
+--------+--------+--------------------+------------+-----------------+--------------------+
|       4|       3|Mon May 11 03:17:...|     kindle2|           tpryan|@stellargirl I lo...|
|       4|       4|Mon May 11 03:18:...|     kindle2|           vcu451|Reading my kindle...|
|       4|       5|Mon May 11 03:18:...|     kindle2|           chadfu|Ok, first assesme...|
|       4|       6|Mon May 11 03:19:...|     kindle2|            SIX15|@kenburbary You'l...|
|       4|       7|Mon May 11 03:21:...|     kindle2|         yamarama|@mikefish  Fair e...|
+--------+--------+--------------------+------------+-----------------+--------------------+
only showing top 5 rows

In [3]:
df=df[['tweet_id','query_string','Tweet','polarity']]
df2=df2[['tweet_id','query_string','Tweet','polarity']]
df.groupBy('polarity').count().orderBy('count',ascending=False).show(10,False)
df2.groupBy('polarity').count().orderBy('count',ascending=False).show(10,False)
#df=df.toPandas()
#df.head(5)

+--------+------+
|polarity|count |
+--------+------+
|0       |800000|
|4       |800000|
+--------+------+

+--------+-----+
|polarity|count|
+--------+-----+
|4       |182  |
|0       |177  |
|2       |139  |
+--------+-----+

In [4]:
from nltk.corpus.reader.wordnet import *
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.tokenize import word_tokenize
from pyspark.sql.types import StringType,DoubleType,IntegerType
wn = nltk.WordNetLemmatizer()
worddict = set(nltk.corpus.words.words())

def preprocessing(text):
    wordset_n = set(wn.lemmatize(w, NOUN) for w in word_tokenize(text.lower().strip()))
    wordset_v = set(wn.lemmatize(w, VERB) for w in wordset_n)
    wordset = set(wn.lemmatize(w, ADJ) for w in wordset_v)
    wordset = wordset & worddict
    return ' '.join(list(wordset))
brand_udf=udf(preprocessing,StringType())
df=df.withColumn('text',brand_udf(df['Tweet']))
df=df.withColumn('clean_len',F.length('text'))
df2=df2.withColumn('text',brand_udf(df2['Tweet']))
df2=df2.withColumn('clean_len',F.length('text'))
tem=df.union(df2)
tem.show()

+----------+------------+--------------------+--------+--------------------+---------+
|  tweet_id|query_string|               Tweet|polarity|                text|clean_len|
+----------+------------+--------------------+--------+--------------------+---------+
|1467810369|    NO_QUERY|@switchfoot http:...|       0|get day that thir...|       50|
|1467810672|    NO_QUERY|is upset that he ...|       0|result cry school...|       82|
|1467810917|    NO_QUERY|@Kenichan I dived...|       0|out ball save go ...|       64|
|1467811184|    NO_QUERY|my whole body fee...|       0|whole feel my bod...|       44|
|1467811193|    NO_QUERY|@nationwideclass ...|       0|at mad no all i c...|       71|
|1467811372|    NO_QUERY|@Kwesidei not the...|       0|  the crew whole not|       18|
|1467811592|    NO_QUERY|         Need a hug |       0|          a hug need|       10|
|1467811594|    NO_QUERY|@LOLTrish hey  lo...|       0|fine only i how r...|       62|
|1467811795|    NO_QUERY|@Tatiana_K nope t...|       0|they do nope it have|       20|
|1467812025|    NO_QUERY|@twittera que me ...|       0|                  me|        2|
|1467812416|    NO_QUERY|spring break in p...|       0|break snow plain ...|       34|
|1467812579|    NO_QUERY|I just re-pierced...|       0|       i just my ear|       13|
|1467812723|    NO_QUERY|@caregiving I cou...|       0|wa think loss i t...|       56|
|1467812771|    NO_QUERY|@octolinz16 It it...|       0|i talk to you do ...|       45|
|1467812784|    NO_QUERY|@smarrison i woul...|       0|really i would ju...|       65|
|1467812799|    NO_QUERY|@iamjazzyfizzle I...|       0|miss get wa i how...|       60|
|1467812964|    NO_QUERY|Hollis' death sce...|       0|out death will cu...|       82|
|1467813137|    NO_QUERY|about to file taxes |       0|   tax about to file|       17|
|1467813579|    NO_QUERY|@LettyA ahh ive a...|       0|rent to always th...|       32|
|1467813782|    NO_QUERY|@FakerPattyPattz ...|       0|out drink you be ...|       44|
+----------+------------+--------------------+--------+--------------------+---------+
only showing top 20 rows

In [5]:
from pyspark.ml.feature import  Tokenizer
tokenizer = Tokenizer(inputCol="text", outputCol="words")
tem = tokenizer.transform(tem)

In [6]:
from pyspark.ml.feature import CountVectorizer
count = CountVectorizer (inputCol="words", outputCol="rawFeatures")
model = count.fit(tem)
tem = model.transform(tem)
tem.show()

+----------+------------+--------------------+--------+--------------------+---------+--------------------+--------------------+
|  tweet_id|query_string|               Tweet|polarity|                text|clean_len|               words|         rawFeatures|
+----------+------------+--------------------+--------+--------------------+---------+--------------------+--------------------+
|1467810369|    NO_QUERY|@switchfoot http:...|       0|get day that thir...|       50|[get, day, that, ...|(29209,[2,4,5,8,1...|
|1467810672|    NO_QUERY|is upset that he ...|       0|result cry school...|       82|[result, cry, sch...|(29209,[1,4,5,7,1...|
|1467810917|    NO_QUERY|@Kenichan I dived...|       0|out ball save go ...|       64|[out, ball, save,...|(29209,[0,2,3,10,...|
|1467811184|    NO_QUERY|my whole body fee...|       0|whole feel my bod...|       44|[whole, feel, my,...|(29209,[5,6,7,15,...|
|1467811193|    NO_QUERY|@nationwideclass ...|       0|at mad no all i c...|       71|[at, mad, no, all...|(29209,[0,1,5,8,2...|
|1467811372|    NO_QUERY|@Kwesidei not the...|       0|  the crew whole not|       18|[the, crew, whole...|(29209,[3,24,383,...|
|1467811592|    NO_QUERY|         Need a hug |       0|          a hug need|       10|      [a, hug, need]|(29209,[4,66,432]...|
|1467811594|    NO_QUERY|@LOLTrish hey  lo...|       0|fine only i how r...|       62|[fine, only, i, h...|(29209,[0,4,8,35,...|
|1467811795|    NO_QUERY|@Tatiana_K nope t...|       0|they do nope it have|       20|[they, do, nope, ...|(29209,[5,9,12,72...|
|1467812025|    NO_QUERY|@twittera que me ...|       0|                  me|        2|                [me]|  (29209,[18],[1.0])|
|1467812416|    NO_QUERY|spring break in p...|       0|break snow plain ...|       34|[break, snow, pla...|(29209,[5,11,205,...|
|1467812579|    NO_QUERY|I just re-pierced...|       0|       i just my ear|       13|  [i, just, my, ear]|(29209,[0,6,21,81...|
|1467812723|    NO_QUERY|@caregiving I cou...|       0|wa think loss i t...|       56|[wa, think, loss,...|(29209,[0,2,3,5,7...|
|1467812771|    NO_QUERY|@octolinz16 It it...|       0|i talk to you do ...|       45|[i, talk, to, you...|(29209,[0,2,5,8,1...|
|1467812784|    NO_QUERY|@smarrison i woul...|       0|really i would ju...|       65|[really, i, would...|(29209,[0,1,3,4,9...|
|1467812799|    NO_QUERY|@iamjazzyfizzle I...|       0|miss get wa i how...|       60|[miss, get, wa, i...|(29209,[0,2,3,5,7...|
|1467812964|    NO_QUERY|Hollis' death sce...|       0|out death will cu...|       82|[out, death, will...|(29209,[1,2,15,18...|
|1467813137|    NO_QUERY|about to file taxes |       0|   tax about to file|       17|[tax, about, to, ...|(29209,[2,56,1110...|
|1467813579|    NO_QUERY|@LettyA ahh ive a...|       0|rent to always th...|       32|[rent, to, always...|(29209,[2,3,36,48...|
|1467813782|    NO_QUERY|@FakerPattyPattz ...|       0|out drink you be ...|       44|[out, drink, you,...|(29209,[1,3,8,13,...|
+----------+------------+--------------------+--------+--------------------+---------+--------------------+--------------------+
only showing top 20 rows

In [7]:
from pyspark.ml.feature import  IDF
idf = IDF(inputCol="rawFeatures", outputCol="features")
idfModel = idf.fit(tem)
tem = idfModel.transform(tem)
tem = tem.withColumn('polarity', tem['polarity'].cast(IntegerType()))

In [8]:
(trainingData, testData) = tem.randomSplit([0.7, 0.3])

In [9]:
# Follow every follower of the authenticated user
timeline = api.home_timeline()
data = pd.DataFrame(data=[tweet.text for tweet in timeline], columns=['Tweet'])